#slideshow img
	max-width: 100%
	max-height: 100%
body
	background-color: $bgColor

.date
	margin-top: 10px
	margin-bottom: 5px
	padding: 15px
	font-family: $date-Font
	text-align: center
	background-color: $bgColor-Date
	border-radius: 10px
	z-index: 5
	margin-left: auto
	margin-right: auto
	width: 50%

	#day
		font-size: 60px
		font-weight: 900
		color: $date-DayColor

	#month
		font-size: 30px
		color: $date-MonthColor

.weather
	padding: 10px
	text-align: center

	h1
		font-size: 20px
		margin-top: 8px
		margin-bottom: 3px
		color: $weather-Color
		font-family: $weather-Font

	p
		margin-bottom: 12px
		margin-top: 10px
		font-size: 19px
		color: $weather-Color
		font-family: $weather-Font

	.wi
		color: $weather-Color
		font-size: 56px
		padding: 6px

	.day
		padding: 2.5px

#quoteOfTheDay
	color: $quote-Color
	font-family: $quote-Font

	p
		margin: 0px
		font-size: 16px

	#quote
		font-size: 24px
		text-align: left
		padding-left: 80px

	#quoteHeading
		font-size: 30px
		text-align: left
		font-weight: 900
		padding-left: 50px
		padding-bottom: 10px

	#quoteAuthor
		font-size: 24px
		font-weight: 700
		text-align: right
		padding-right: 30px
