#slideshow img
	max-width: 100%
	max-height: 100%
body
	background-color: $bgColor

.date
	margin: 10px
	padding: 10px
	font-family: 'Roboto', sans-serif
	text-align: center
	background-color: $bgColor-Date
	border-radius: 10px
	position: relative
	z-index: 5

	#day
		font-size: 60px
		font-weight: 900
		color: $date-DayColor

	#month
		font-size: 30px
		color: $date-MonthColor
