#slideshow img
	width: 1280px
	height: 720px

#slideshow > div
	position: absolute

body
	background-color: $bgColor

.date
	padding: 10px
	font-family: 'Roboto', sans-serif
	text-align: center
	background-color: $bgColor-Date
	border-radius: 10px

	#day
		font-size: 60px
		font-weight: 900
		color: $date-DayColor

	#month
		font-size: 30px
		color: $date-MonthColor
