//Background Colors
$bgColor: #072129;
$bgColor-Date: #104c5e;

//Fonts

$weather-Font: 'Roboto', sans-serif;
$date-Font: 'Roboto', sans-serif;
$quote-Font: 'Roboto', sans-serif;

//Font Colors
$date-DayColor: white;
$date-MonthColor: white;
$quote-Color: white;
$weather-Color: white;
