//Background Colors
$bgColor: #072129;
$bgColor-Date: #104c5e;

//Font Colors
$date-DayColor: white;
$date-MonthColor: white;

//Progress Bars
$progressHTML: #FC6042;
$progressjQuery: #FCB941;
$progressBootstrap: #2C82C9;
$progressCSS: #2CC990;
